{
  "extends": "airbnb",
  "rules": {
    "quotes": 0,
    "no-undef": [2],
  },
  "globals": {
    "Meteor": false,
    "Session": false,
    "Roles": false,
    "Slingshot": false,
    "SimpleSchema": false,
  },
}
