{
  "extends": "airbnb",
  "rules": {
    "quotes": 0,
    "import/no-extraneous-dependencies": "off",
  },
  "globals": {
    "Meteor": false,
    "Session": false,
    "Roles": false,
    "Slingshot": false,
    "SimpleSchema": false,
  },
}
