{
  "extends": "airbnb",
  "rules": {
    "quotes": 0,
    "no-undef": [2],
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off"
  },
  "globals": {
    "Meteor": false,
    "Session": false,
    "Roles": false,
    "Slingshot": false,
    "SimpleSchema": false,
    "ValidatedMethod": false,
    "HTTP": false,
    "Bert": false,
    "document": false,
    "window": false,
    "location": false,
    "chai": false
  }
}
