@import '../../../../stylesheets/colors';

.view-shortlink {
  padding: 3vw;
  width: 90%;
  word-break: break-all;
}

.center-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.view-shortlink-box-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  .view-shortlink-boxes {
    border-radius: 6px;
    margin: 10px 15px 10px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 24px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.12) !important;
    padding: 20px;
    flex: 1 0;
    width: 50%;
    min-width: 300px;
    height: 120px;
  }
  .view-shortlink-box1 {


  }
}

.view-shortlink-click-table {
  margin: 30px 20px 10px 20px;
}