@import './forms';
@import './colors';
@import './reset';
@import './mixins';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
  font-family: Roboto;
  font-weight: 400;
}

a {
  color: $primary-color;
  text-decoration: none;

}

h1 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 50px;
  margin: 0 0 60px 0;
}

h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 35px;
  margin: 0 0 30px 0;
}

h3 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 24px;
  margin: 0 0 30px 0;
  line-height: 110%;
}

p {
  line-height: 140%;
}

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

label {
  font-family: Roboto;
  font-weight: 300;
}

.lg-label {
  font-family: Roboto;
  font-weight: 300;
  font-size: 50px;
}

.md-label {
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
}

.sm-label {
  font-family: Roboto;
  font-weight: 300;
  font-size: 13px;
}

.dashboard {
  display: flex;
  margin: 55px 0 0 0;
}

.dashboard-menu {
  min-width: 250px;
  height: 100%;
}

.inner-route {
  width: calc(100% - 250px);
  height: 100%;
}

.dashboard-menu-closed {
  min-width: 0px;
  height: 100%;
}

.inner-route-full {
  width: 100%;
  height: 100%;
}

.all-access {
  margin-top: 55px;
  display: flex;
  flex-flow: row wrap;
}

.public {
  margin-top: 55px;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.tab-container {
  margin-top: 30px;
}

.Logout {
  width: 300px;
  padding: 40px;
  margin: 40px 0 100px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.ViewDocument {
  white-space: pre-wrap;
}

.page-top-bar {
  width: calc(100% + 80px) !important;
  background-color: '#0277BD';
  margin: 0px 0px 40px 0px;
}

.profile-edit {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.profile-edit > * {
  padding: 30px 60px 0 0;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.grab-cursor {
  &:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
}

.grab-cursor:active {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.text10px {
  font-size: 10px;
}

// Flexbox item container with fixed width buttons 'itemBox'
.itemBoxContainer {
  width: calc(100% - 10px);
  height: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.itemBoxLabel {
  flex: 1 1;
  height: 60%;
  min-width: 0px;
  word-break: break-all;
  overflow: hidden;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.itemBoxButton {
  flex: 0 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

@include breakpoint(tablet) {
  .dashboard-menu {
    position: absolute;
    width: 0px;
    height: 90%;
  }

  .inner-route {
    width: 100%;
    height: 100%;
  }
}
