@import './colors';
@import './forms';
@import './reset';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
  font-family: Roboto;
  font-weight: 300;
}

h1 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 50px;
  margin: 0 0 60px 0;
}

h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 35px;
  margin: 0 0 30px 0;
}

p {
  line-height: 140%;
}

body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

label {
  font-weight: lighter;
}

.dashboard {
  display: flex;
  margin: 55px 0 0 0;
}

.dashboard-menu {
  min-width: 250px;
  height: 100%;
}

.inner-route {
  width: calc(100% - 250px);
  height: 100%;
  padding: 60px 60px 0 60px;
}

.all-access {
  margin-top: 55px;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
}

.public {
  margin-top: 55px;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.dashboard-drawer * {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  font-family: Roboto;
  font-weight: 300;
}

.tab-container {
  margin-top: 30px;
}

.Signup {
  width: 380px;
  padding: 40px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.page-top-bar {
  width: calc(100% + 80px) !important;
  background-color: '#0277BD';
  margin: 0px 0px 40px 0px;
}
