
.links {
  padding: 5vw;
}

tr {
  margin: 30px;
}

.links-table th {
  padding: 10px;
}


.links-table td {
  padding: 10px;
  max-width: 220px;
  overflow: visible;
  word-wrap: break-word;
  word-break: break-all;
}
