@import '../../../stylesheets/mixins';
@import '../../../stylesheets/colors';

.index {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

@include breakpoint(tablet) {
  .index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}
