.edit-schema-form {
  display: flex;
}

.tableComponentsList {
  margin: 5px;
  position: relative;
  padding: 8px;
  min-width: 250px;
}

.outerDroppableContainer {
  margin-right: 20px;
}

.innerDroppableContainer {
  width: calc(100% - 250px);
}

.innerDroppable {
  width: 95%;
  margin: 5px;
  height: 500px;
  overflow: auto;
}

.innerDroppable-hover {
  background: rgba(0,0,0,0.1);
  margin: 5px;
  height: 500px;
  overflow: auto;
}

.draggableComponents {
  border-radius: 2px;
  user-select: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.droppedComponents {
  border-radius: 2px;
  user-select: none;
}

// Individual list items
.titleBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.titleBoxLeft {
  flex: 1 1;
  min-width: 0px;
  word-break: break-all;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.titleBoxButton {
  flex: 0 0;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.chipBox {
  width: 100%;
}
